<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="APP_NAME" value="CharityAuction"/>
    <add key="APP_VERSION" value="1.02"/>
    <add key="oCNX" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=XXREPLACEXX;Persist Security Info=False;"/>
    <add key="user_db" value="~/App_Data/tUserData.accdb"/>
    <add key="auction_db" value="~/App_Data/AuctionTrax.accdb"/>
    <add key="EncryptionKey" value="5"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- DO NOT CHANGE ANYTHING ABOVE THIS LINE -->
    <!-- CONFIGURE THE SITE TO SHOW YOUR CLUB'S BRANDING BELOW -->
    <!-- Start Date/Time. Set in the past, the auction is immediately active.  Set in the future to start on a given day -->
    <add key="LockBidDate" value="22-AUG-2020 09:00"/>
    <!-- Bid increment -->
    <add key="BidIncrement" value="1.00"/>
    <!-- comma delimited list of user names that will have access to the admin tools -->    
    <add key="AdminUser" value="tkflick" />
    <!-- FACEBOOK URL. If your club doesn't have one, use Lions International https://www.facebook.com/lionsclubs/ -->
    <add key="FacebookLink" value="https://www.facebook.com/WindcrestLions" />
    <!-- AMAZON SMILE URL -->
    <add key="AmazonSmileURL" value="https://smile.amazon.com/ch/45-2570855" />
    <!-- Club website URL -->
    <add key="WebURL" value="http://www.windcrestlionsclub.org" />
    <!-- clubs informal name as you want it to appear on the site -->
    <add key="CLUB_NAME" value="Windcrest Lions Club" />
    <!-- full name of your club, example: the Windcrest Lions Club's actual registered name is San Antonio Windcrest Lions Club -->
    <add key="FULL_CLUB_NAME" value="San Antonio Windcrest Lions Club" />
    <!-- this is the district in which your club is located. example: 2-A2 -->
    <add key="DISTRICT" value="2-A2" />
    <!-- location, ie City, State - Country -->
    <add key="LOCATION" value="Windcrest, Texas - United States" />
    <!-- email address you want to receive the emails from the site, such as winning bidders and paypal notifications -->
    <add key="CLUB_EMAIL" value="windcrestlions.smile@gmail.com" />
    <!-- webmaster email, also used in the mailSettings below -->
    <add key="WEBMASTER_EMAIL" value="webmaster@windcrestlionsclub.org" />
    <!-- if someone, usually the president or webmaster, wants to be copied on all website emails, put that here in the BCC setting -->
    <add key="BCC_EMAIL" value="tkflick@gmail.com" />
    <!-- Enter your Paypal client id's here. Your developer will create these for you in the paypal developers site -->
    <add key="PAYPAL_PROD_CLIENTID" value="ARk2X1sLuP61BZrBpri291GyDl5w-HRge3x4WAy_zQn9_PpXsScsieRZpWeg9N7uvuP5xAxcTjHB_kgV" />
    <add key="PAYPAL_SANDBOX_CLIENTID" value="AZEMBNy9Zx8xarDtM_vEJUxkRCbIifWAOACo-_ePZNiNCbyjYkD8I43NiDWTbIetx2IXaZm7uJs6bCxE" />
    <!-- for testing use: 'sandbox' | when ready to go live use: 'production' -->
    <add key="PAYPAL_ENV" value="sandbox" />
  </appSettings>
  <connectionStrings />
  <system.net>
    <mailSettings>
      <smtp>
        <!-- in your hosting account, create a webmaster email account and a password, update those values here: mail server, user name, password -->
        <network host="mail.windcrestlionsclub.org" userName="webmaster@windcrestlionsclub.org" port="25" password="Pc0k4?6p"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies></assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <authentication mode="Windows"/>
    <httpRuntime targetFramework="4.5.2" />
    <pages controlRenderingCompatibilityVersion="3.5"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>